// Imports =====================
@import url("http://fonts.googleapis.com/css?family=Cabin:400,700,400italic");
@import "bootstrap";

body {
  color: $black;
  font-size: 12px;
}

a, button {
  cursor: pointer;
}

// Bootstrap overrides =====================
.loader {
  text-align: center;
  box-shadow: none;
  border: none;
}

// Helpers =====================
.pointer{cursor: pointer;}

// Base =====================
body {
  font-family: "Cabin", Helvetica, sans-serif;
}
a, button {cursor: pointer;}

// Navbar =====================
.navbar-default {
  border-color: $brown-lighter;
}

// Panels =====================
.page-header {
  margin: 10px 0px 0px 0px;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  background-color: #fff;
}

.panel {
  border: 1px solid $brown-light;
  .ng-table-pager {display: none;}
}

.panel-heading, .panel-footer {  
  background-color: $brown-light !important;
  border-radius: 0;
  color: $white !important;
  padding: 3px 6px;
  text-transform: uppercase;
  font-weight: bold;
}

.panel-footer {
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  &.compact {
    line-height: 0;
    padding: 3px;
  }

  .pagination {
    margin: 0;
  }
}



// Footer =====================
footer {
  background: #fff;
  margin-top: 40px;
  padding: 20px;
  .footnote {margin: 0;}
}

// Login =====================
td .form-group {
  margin: 0;
}

td .form-group .form-control-feedback {
  top: 0;
}

.has-feedback .form-control.filter {
  padding-right: 12px;
}

.table-scroller {
  display: block;
  overflow-x: auto;
}

.table-scroller table {
  margin-bottom: 0;
  border: none;
}

.table-scroller table.table-bordered > thead > tr > th:first-child,
.table-scroller table.table-bordered > thead > tr > td:first-child,
.table-scroller table.table-bordered > tbody > tr > th:first-child,
.table-scroller table.table-bordered > tbody > tr > td:first-child,
.table-scroller table.table-bordered > tfoot > tr > th:first-child,
.table-scroller table.table-bordered > tfoot > tr > td:first-child {
  border-left: none;
}

.table-scroller table.table-bordered > thead > tr > th:last-child,
.table-scroller table.table-bordered > thead > tr > td:last-child,
.table-scroller table.table-bordered > tbody > tr > th:last-child,
.table-scroller table.table-bordered > tbody > tr > td:last-child,
.table-scroller table.table-bordered > tfoot > tr > th:last-child,
.table-scroller table.table-bordered > tfoot > tr > td:last-child {
  border-right: none;
}

#stock-count-summary > tbody + tbody {
  border-top: none;
}