<div class="panel panel-default">
  <div class="panel-heading">

    Follow Ups
  </div>
  <table ng-show="!dataLoader.initialLoad()" ng-table="locals.tableParams" class="table table-condensed">
     <thead>
       <tr>
         <th title="Name">Name</th>
         <th title="Time" >Time</th>
         <th title="Interviewer">Interviewer</th>
         <th title="Temperature">Temp</th>
         <th title="Diarrhoea">D</th>
         <th title="Pharyngitis">P</th>
         <th title="Haemorrhagic">Ha</th>
         <th title="Headache">He</th>
         <th title="Maculopapular">Mac</th>
         <th title="Malaise">Mal</th>
         <th title="Muscle Pain">Mu</th>
         <th title="Vomiting">V</th>
       </tr>
     </thead>
     <tbody>
        <tr ng-repeat="item in $data" ng-class="{'bg-danger': item.temperature >= MAX_TEMP }">
          <td data-title="'Name'" sortable="'name'">{{item.name}}</td>
          <td data-title="'Time'" sortable="'time'" style="white-space: nowrap;">
            {{item.time | date:SETTINGS.dateTimeFormat}}
          </td>
          <td data-title="'Interviewer'" sortable="'interviewer'">{{item.interviewer}}</td>
          <td data-title="'Temp'">{{item.temperature}}</td>
          <td data-title="'D'"><yes-no-mark ng-model="item.diarrhoea"></yes-no-mark></td>
          <td data-title="'P'"><yes-no-mark ng-model="item.pharyngitis"></yes-no-mark></td>
          <td data-title="'Ha'"><yes-no-mark ng-model="item.haemorrhagic"></yes-no-mark></td>
          <td data-title="'He'"><yes-no-mark ng-model="item.headache"></yes-no-mark></td>
          <td data-title="'Mac'"><yes-no-mark ng-model="item.maculopapular"></yes-no-mark></td>
          <td data-title="'Mal'"><yes-no-mark ng-model="item.malaise"></yes-no-mark></td>
          <td data-title="'Mu'"><yes-no-mark ng-model="item.musclePain"></yes-no-mark></td>
          <td data-title="'V'"><yes-no-mark ng-model="item.vomiting"></yes-no-mark></td>
        </tr>
     </tbody>
  </table>
  <div class="panel-footer compact">
    <button class="btn btn-success btn-xs pull-right btn-export" type="button"
            ng-show="!dataLoader.initialLoad()"
            ng-csv="csvData"
            csv-header="csvHeader"
            ng-click="changeFileName()"
            filename="{{fileName}}.csv">
      Export Data
    </button>
    <pagination class="pagination-sm"
                ng-model="locals.currentPage"
                total-items="locals.totalItems"
                items-per-page="locals.tableParams.count()"
                ng-change="locals.tableParams.page(locals.currentPage)"></pagination>
  </div>
</div>

<div class="panel panel-default" style="display: none;">
  <div ng-include="'views/lab-results.html'" ng-controller="LabResultsCtrl"></div>
</div>
