<h3 class="page-header">Follow Ups</h3>
<div class="row">
  <div class="col-md-6">
    <div ng-include="'views/map.html'" ng-controller="MapCtrl"></div>
  </div>
  <div class="col-md-6">
    <div ng-include="'views/follow-ups.html'" ng-controller="FollowUpsCtrl"></div>
  </div>
</div>
<h1 class="page-header">Lab Results</h1>
<div class="row">
  <div class="col-md-6">
    <div ng-include="'views/lab-results.html'" ng-controller="LabResultsCtrl"></div>
  </div>
  <div class="col-md-6">
  </div>
</div>
