<div class="panel panel-default" ng-init="initiateMap()">
  <div class="panel-heading">Follow Ups</div>
  <div class="map" style="height: 299px;">
    <div class="map-legend">
      <p>
        <p class="map-legend-header"><b>Last followup</b></p>
        <img src="/images/marker-green.png">
        Today
      </p>
      <p>
        <img src="/images/marker-gray.png">
        Yesterday
      </p>
      <p>
        <img src="/images/marker-yellow.png">
        2+ days ago
      </p>
      <p>
        <img src="/images/marker-red.png">
        Symptomatic
      </p>
    </div>
  </div>
  <div class="panel-footer">
    <span ng-bind="contacts.updated"></span>
    <span>/</span>
    <span ng-bind="contacts.total"></span>
    <span>followed up today.</span>
  </div>
</div>
