<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h3><i class="icon-hospital"></i> Alerts</h3>

        <div id="map" style="height: 600px;"></div>
      </div>
      <div class="col-sm-12">
        <h2>Daily reports</h2>

        <p>Aug. 10, 2014, 10:45 a.m. <a href="/media/pdf/1407667521.pdf">Download</a></p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div id="events" style="">
      <h4>Events</h4>
    </div>
  </div>
</div>